<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>createView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>695DBF9C1DB9F876005AA8ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>695DBFB01DB9F876005AA8ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>695DBFBB1DB9F876005AA8ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
